## Common large files
*.fastq.gz
*.fq.gz
*.fa
*.bam
*.bai
*.gds
*.vcf.gz
*.vcf.gz.tbi

## Python or snakemake workflow related
*/.snakemake/
*__pycache__*
*.snakemake_timestamp
*/workflow/log
*/resources

## Project-specific files
*fgsea*.Rds
.Rproj.user
