## Common large files
*.fastq.gz
*.fa
*.bam
*.bai
*.gds
*.vcf.gz
*.vcf.gz.tbi

## Snakemake or python related
.snakemake/
smk/log/
*__pycache__*
*.snakemake-timestamp

## Project files
refs/*
01_trim/log/*
02_align/log/*
*/2_genomicsDB/*
*.firstPass.table
*.secondPass.table
.Rproj.user
*_STARpass*
*_STARgenome*
*fgsea*.Rds
*addUmis/log/*
*trim/log/*
*align/log/*
