## Common large files
*.fastq.gz
*.fq.gz
*.fa
*.bam
*.bai
*.gds
*.vcf.gz
*.vcf.gz.tbi

## Snakemake or python related
*/.snakemake/
*/smk/log/
*/workflow/log
*__pycache__*
*.snakemake_timestamp

## Project-specific files
*fgsea*.Rds
.Rproj.user
