## Analysis-specific files
refs/*
*/2_genomicsDB/*
*.firstPass.table
*.secondPass.table
*_STARpass*
*_STARgenome*
*addUmis/log/*
*trim/log/*
*align/log/*
*.snvs.txt.gz
*.fq1.gz
*.fq2.gz
.Rproj.user
*.static.tsv
*.intervals
